@import 'tailwindcss';

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/montserrat-variable.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/montserrat-italic-variable.woff2') format('woff2');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/jetbrains-mono-variable.woff2') format('woff2');
  font-weight: 100 800;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-chapter-green: #008b08;
  --color-chapter-white: #ffffff;
  --color-chapter-dark: #06130e;

  --font-chapter: 'Montserrat', sans-serif;
  --font-stackworks: 'JetBrains Mono', monospace;
}

body {
  font-family: var(--font-chapter);
}
